aws_region = "eu-north-1"
environment = "development"
vpc_cidr = "10.0.0.0/16"
public_subnets = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnets = ["10.0.3.0/24", "10.0.4.0/24"]
db_instance_class = "db.t3.micro"
db_name = "myappdb"
app_instance_type = "t3.micro"
app_min_size = 1
app_max_size = 2
app_desired_capacity = 1

# Add these values in your local terraform.tfvars file
# db_username = "your_db_username"
# db_password = "your_db_password" 